@font-face {
	font-family: ubuntu;
  	src: url('/font/Ubuntu-R.ttf');
}

html, body {
	//background-color: #bc1142; 
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	white-space:nowrap;
	position:fixed;
	margin-left: 0%;
	margin-top: 0%;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

#background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1000; 
	display: none;
	//border: 10px solid purple;
}

.tile-container {
	perspective: 100%;
	display: inline-block;
	cursor: pointer; 
}
.tile-container, .front, .back {
	width:400px;
	height:400px; 
}
.tile-container:hover {   
  transition: transform 0.3s;
  transform: scale(0.97); 
}
.tile-container:not(:hover) {
  transition: transform 0.3s;
  transform: scale(1.0); 
}

.tile-container-big {
	perspective: 100%;
	display: inline-block;
	cursor: pointer; 
}
.tile-container-big, .front, .back {
	width:400px;
	height:400px; 
}

.tile-big {
	transform-style: preserve-3d;
	transition: transform 1.2s;
	position: relative; 
	overflow: visible;
	white-space: normal;
}			
.tile-big .front {
	z-index: 2;
	transform: rotateY(0deg); 
}
.tile-big .back {
  transform: rotateY( 180deg ); 
  z-index : 100;
}
.tile-big .front,.back {
	backface-visibility: hidden;
  
	position: absolute;
	top: 0;
	left: 0; 
}
.tile-big.flipped {
    transform: rotateY( 180deg );
}
.tile-big.end-flipped {
	transition: transform 0.5s;
	transform: rotateY(90deg);
} 
.tile-big img {
	width:100%;
	height: 100%;
	user-select: none;
	display: inline;
	position: absolute;
	user-drag: none;
	z-index: 0;
}
.tile-big .back .big-bg-bottom {
    width: 98%;
    height: 1%;
    left:1%;
    bottom:1%;
    background-color: rgba(0,0,0,0.08);
    display: inline;
    position: absolute;
  	z-index: 2;
  	user-select: none;
  	overflow: hidden;
  	cursor: default;
}
.tile-big .back .big-bg-right {
    width: 0%;
    height: 100%;
    top: 0%;
    left: 99%;
    background-color: rgba(0,0,0,0.08);
    display: inline;
    position: absolute;
  	z-index: 2;
  	user-select: none;
  	overflow: hidden;
  	cursor: default;
}
.tile-big .back .big-bg-left {
    width: 50%;
    height: 99%;
    top: .5%;
    left: .8%;
    background-color: rgba(0,0,0,0.08);
    display: inline;
    position: absolute;
  	z-index: 2;
  	user-select: none;
  	overflow: hidden;
  	cursor: default;
}

.tile-big .back .big-bg-right p, .tile-big .back .big-bg-bottom p, .tile-big .back .big-bg-left p {
	overflow: auto;
	text-align: left;
  	color: transparent;
  	text-shadow: 0 0 0 white;
  	font-family: ubuntu;
  	font-style: normal;    
  	font-size: 18;
  	white-space: normal;
  	overflow: hidden;
	padding: 0% 3% 0% 3%;
}
.tile-big .back .big-bg-right a, .tile-big .back .big-bg-bottom a, .tile-big .back .big-bg-left a {
	overflow: auto;
	text-align: left;
  	color: transparent;
  	text-shadow: 0 0 0 white;
  	font-family: ubuntu;
  	font-style: normal;    
  	font-size: 18;
  	white-space: normal;
  	overflow: hidden;
	padding: 0% 0% 0% 0%;
}
.tile-big .back table {
	overflow: auto;
  	font-family: ubuntu;
  	border-collapse: collapse;
  	margin: 3% 3% 3% 3%;
  	white-space: nowrap;
  	width: 80%;
}
.tile-big .back th {
 	background-color: rgba(255, 255, 255, .3);
	font-weight: bold;
	text-align: left;
	margin 0;
}
.tile-big .back td, .tile-big .back th {
	padding: 3% 3% 3% 3%;
  	border: 0;
  	text-align: left;
  	color: white;
  	font-family: ubuntu;
  	font-size: 26;
  	white-space: normal;
}

.tile-big .back tr:nth-child(even) {
 	background-color: rgba(255, 255, 255, .2);
	margin: 0 0 0 0;
}
.tile-big .back h1 {
	display: initial;
	position: static;
	padding: 3% 3% 3% 3%;
	text-align: left;
  	color: white;
  	font-family: ubuntu;
  	font-style: normal;    
  	font-size: 32pt;
  	user-select: none;
}
.tile-big .back .iframeWrap {
	position: absolute;
  	left: 0;
  	top: 0;
  	width: 98%;
  	height: 98%;
  	user-select: none;
  	border: 0;
  	z-index: 1;
}

.tile-big .back .iframeWrap .gameFrame {
	left: 0;
	top: 0;
	user-select: none;
	margin: 1% 1% 1% 1%;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	position: absolute;
	z-index: 1;
}

.tile {
	transform-style: preserve-3d;
	transition: transform 0.7s;
	position: relative; 
	overflow: visible;
	white-space: normal;
	-webkit-touch-callout: none;             
    -webkit-user-select: none;
    animation-fill-mode: forwards;
}			
.tile .front {
	z-index: 2;
	transform: rotateY(0deg); 
}

.tile .back {
  transform: rotateY( 180deg ); 
}
.tile .back .background {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: .95;
	transition-property: opacity;
	transition-duration: .4s;

}
.tile .back:hover > .background {
	opacity: .80;
}
.tile .front,.back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0; 
}
.tile.flipped {
    transform: rotateY( 180deg );
	transition: transform 0.7s;
}
.tile.end-flipped {

	backface-visibility: hidden;
	transition: transform 0.4s;
	transform: rotateY(-90deg);
} 
.tile img {
	width:100%;
	height: 100%;
	user-select: none;
	display: inline;
	position: absolute;
	user-drag: none;
}
.tile .back .p-bg {
    width: 98%;
    height: 1%;
    left:1%;
    bottom:1%;
    background-color: rgba(0,0,0,0.08);
    display: inline;
    position: absolute;
}
.tile .back p {
	display: inline;
	left:0;
  	//top: -20;
	position: absolute;
	padding: 0% 5% 5% 5%;
	text-align: left;
  	color: transparent;
  	text-shadow: 0 0 0 white;
  	font-family: ubuntu;
  	font-style: normal;    
  	font-size: 26;
}
.tile .back li {
  	font-family: ubuntu;
  	font-style: normal;    
  	color: white;
  	font-size: 26;
}
.tile .back a {
	pointer-events: auto;
	font-family: ubuntu;
	font-style: normal;
	color: white;
}
.tile .back h1 {
	display: inline;
	position: absolute;
  	left: 0;
  	top: 0;
	padding: 3% 5% 5% 5%;
	text-align: left;
  	color: white;
  	font-family: ubuntu;
  	font-style: normal;    
  	font-size: 32pt;
  	user-select: none;
  	z-index: 2;
}
/* pyjamas iframe hide */
#__pygwt_historyFrame { position: absolute; }


h1 {
	display: inline;
	position: absolute;
  	left: 0;
  	top: 0;
	padding: 3% 5% 5% 5%;
	text-align: left;
  	color: white;
  	font-family: ubuntu;
  	font-style: normal;    
  	font-size: 32pt;
  	user-select: none;
}

#watermark {
  position: absolute;
  //overflow: hidden;
  z-index:10000;
}
#watermark img {
  max-width: 100%;
}
#watermark p {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  font-size: 100px;
  pointer-events: none;
  -webkit-transform: rotate(45deg) translate(50%);
  -moz-transform: rotate(45deg) translate(50%);
}
.iexplorer p {
	left:0;
	text-align: left;
  	color: white;
  	font-family: ubuntu;
  	font-style: normal;    
  	font-size: 26;
  	width:90%;
  	white-space: normal;
}
a {
	font-family: ubuntu;
	font-style: normal;
	color: white;
}
.iexplorer table {
  font-family: ubuntu;
  border-collapse: collapse;
  width: 30%;
}

.iexplorer td, .iexplorer th {
  border: 0;
  text-align: left;
  padding: 1%;
  color: white;
  font-family: ubuntu;
  font-style: normal;    
  font-size: 20;
  white-space: normal;
}

.iexplorer tr:nth-child(even) {
  background-color: rgba(171, 171, 178, .5);
}

.img-center {
	perspective: 100%;
	display: inline-block;
	float:right;
	width: 49%;
	height:100%;
}

.img-center .img {
	overflow: visible;
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
}
.img-center .img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}

.return-center {
	perspective: 100%;
	display: inline-block;
}

.return {
	overflow: visible;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform .7s;
	position: relative;
	cursor: pointer;
}

.return.flipped {
    transform: rotateY( 90deg );
    pointer-events: none;
	cursor: default; 
	transition: transform .2s;
}
.return img {
	width:100%;
	height: 100%;
	user-select: none;
	user-drag: none;
	display: inline-block;
	position: absolute;
	z-index: 4;
	transform: rotateY(0deg); 
}
.return img:hover {   
  transition: transform 0.2s;
  transform: scale(0.90); 
}
.return img:not(:hover) {
  transition: transform 0.3s;
  transform: scale(0.99); 
}

.footer-bottom {
	height: 10%;
	width: 100%;
	bottom: 0 !important;
	position: absolute;
	display: inline-block;
}
.footer-right {
	width: 100%;
	left: 96%;
	top: 50%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
.footer-right p, .footer-bottom p {
	text-align: center;
  	color: transparent;
  	text-shadow: 0 0 0 white;
  	font-family: ubuntu;
  	font-style: normal;    
  	font-size: 18;
  	white-space: normal;
  	line-height: 1.5;
  }
