[submodule "gravitation"]
	path = gravitation
	url = https://github.com/kennedn/p5Gravitation
[submodule "pong"]
	path = pong
	url = https://github.com/kennedn/p5Pong
[submodule ".PyTetris"]
	path = .PyTetris
	url = https://github.com/kennedn/PyTetris
  branch = jsdl
[submodule ".livestats"]
	path = .livestats
  url = https://github.com/kennedn/livestats
  branch = k8s
[submodule "blog"]
	path = .blog
	url = https://github.com/kennedn/blog
[submodule ".resume"]
	path = .resume
	branch = master
	url = git@github.com:kennedn/best-resume-ever.git
